PUBLIC_SERVER_URL=http://localhost:3000
PUBLIC_SENTRY_DSN="" # Different from server sentry DSN and configured to only allow from app origin
PUBLIC_SENTRY_SPOTLIGHT=1

PUBLIC_TURNSTILE_SITE_KEY=

# For production, create a `.env.production` file that overrides the vars above.
# `vite build` will pick it up automatically - only the changed vars are needed:
#   PUBLIC_SERVER_URL=https://api.clashwithjpa.com
#   PUBLIC_SENTRY_SPOTLIGHT=0
