ENABLE_LOGGING=true
ENABLED_LOG_TRANSPORTS=console,file
LOG_LEVEL=verbose
SENTRY_SPOTLIGHT=true
SENTRY_DSN="https://spotlight@local:7102/0"

JPA_AUTH_SECRET=
JPA_AUTH_URL=http://localhost:3000
JPA_APP_URL=http://localhost:5173

JPA_DATABASE_URL=postgresql://postgres:postgres@localhost:7101/jpa

PUBLIC_COC_API_BASE_URI=
JPA_COC_API_TOKEN=

JPA_DISCORD_ID=
JPA_DISCORD_SECRET=
JPA_DISCORD_BOT_TOKEN=

PUBLIC_TURNSTILE_SITE_KEY=
JPA_TURNSTILE_SECRET_KEY=
