JPA_AUTH_SECRET=
JPA_AUTH_URL=http://localhost:3000
JPA_APP_URL=http://localhost:5173
JPA_DATABASE_URL=postgresql://user:password@localhost:5432/jpa

JPA_DISCORD_ID=
JPA_DISCORD_SECRET=

JPA_TURNSTILE_SECRET_KEY=
