@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme inline {
    --font-rubik: Rubik, sans-serif;
    --font-coc: COC, sans-serif;
    --font-mono: "JetBrains Mono", monospace;
}

@font-face {
    font-family: "COC";
    font-style: normal;
    font-display: swap;
    src: url("/fonts/clash_regular.otf") format("opentype");
    font-weight: 100 600;
}

@font-face {
    font-family: "COC";
    font-style: normal;
    font-display: swap;
    src: url("/fonts/clash_bold.otf") format("opentype");
    font-weight: 700 900;
}

*:focus {
    outline: none;
}

body {
    font-family: var(--font-rubik);
    background-color: var(--color-stone-950);
    color: var(--color-stone-50);
    scroll-behavior: smooth;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@property --sb-color {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

* {
    --sb-color: transparent;
}

.show-scrollbar,
.show-scrollbar * {
    --sb-color: var(--color-stone-800);
}

::-webkit-scrollbar {
    @apply h-0 w-0 md:h-2 md:w-2;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--sb-color);
    border-radius: 0;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.typography {
    @apply prose prose-stone dark:prose-invert prose-headings:font-black prose-headings:text-amber-500 prose-a:text-yellow-500 prose-a:hover:text-yellow-400 prose-blockquote:rounded-r-lg prose-blockquote:border-l-amber-500 prose-blockquote:bg-stone-800/30 prose-blockquote:px-4 prose-blockquote:py-1 prose-strong:text-amber-400 prose-ol:marker:text-amber-500 prose-ul:marker:text-amber-500;
}

.typography a {
    pointer-events: auto;
    cursor: pointer;
}

.carta-viewer > *:first-child {
    margin-top: 0 !important;
}
.carta-viewer img {
    border-radius: var(--radius-lg);
}
